//Fonts Import
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

$sans-serif: 'Roboto', sans-serif;
$logo-font: 'Major Mono Display', monospace;
$header-font: 'Oswald', monospace;
$monospace: 'Space Mono', monospace;
//$monospace: 'Nova Mono', monospace;
//$serif: 'Noto Serif', serif;


//Colors
//$bg-color: #1B1B1B;
$bg-color: #fff;
$bg-dark: #333;
$font-color: #000;
$header-color: #008ace;
$header-color-lighter: #008ace;
//$secondary-color: #4A9DB6;
