%main-button{
    background: none;
    border-style: solid;
    border-width: 1px;
    text-transform: uppercase;
    font-family: $header-font;
    position:relative;
}

.main-button-big{
    @extend %main-button;
    padding: 10px 50px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.main-button-small{
    @extend %main-button;
    padding: 8px 30px;
    font-size: 1rem;
}

.slide-button-anim{
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 202% 100%;
    background-position: right bottom;
    @include crossBrowser(transition, all .4s ease)
}
.slide-button-anim:hover{
    color: #000;
    background-position: left bottom;
    cursor: pointer;
}

.slide-button-anim:hover .white-link-line{
    background: #000;
    @include crossBrowser(transition, all .4s ease);
}

.white-button{
    color:#fff;
    border-color: #fff;
}

.black-button{
    color:#000;
    border-color: #000;
}


.project-link{
    color: $font-color;
    font-family: $header-font;
    font-size: 1.3rem;
    @include crossBrowser(transition, all .2s ease-in-out)
}

.project-link:hover{
    text-decoration: none;
    color: $header-color;
}


%link-line {
    display: inline-block;
    width: 30px;
    height: 2px;
    content: "";
    margin-bottom: 0.4rem;
    margin-left: 3px;
}

.white-link-line{
    @extend %link-line;
    background: #fff;
}

.blue-link-line{
    @extend %link-line;
    background: $header-color;
}