h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.2rem;
}

h3{
    font-size: 1.7rem;
}

h1,h2,h3{
    font-family: $header-font;
}

.main-title{
    font-family: $header-font;
    letter-spacing: 2px;
}

.main-header{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.project-header{
//    color: $header-color;
//    font-family: $monospace;
    margin-bottom: 20px;
}


